<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>List</a>
    <ng-template ngbNavContent>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th></th>
          <th scope="col" sortable="done" (sort)="onSort($event)">Done</th>
          <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
          <th scope="col" sortable="label" (sort)="onSort($event)">Label</th>
          <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of todoList">
          <th scope="row">{{ item.id }}</th>
          <td><input type="checkbox" [(ngModel)]="item.checked" (change)="changeDone(item)"></td>
          <td>{{ item.done }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.label }}</td>
          <td>{{ item.categoryName }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Info</a>
    <ng-template ngbNavContent>
      <p>
        Welcome!<br>
        This is TodoModel List app. You can create, update and delete task. Of course, you can change task status.
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
